name: release

on:
  push:
    branches:
      - main
    paths:
      - go.mod
      - go.sum
      - '**.go'
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      packages: write

    steps:
      - name: login to ghcr.io
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
          cache: false

      - name: Git Config for Unit Tests
        run: |
          git config --global user.email ci
          git config --global user.name ci
          git config --global init.defaultBranch main

      - name: Run Unit Tests
        run: |
          make test

      - name: Build binary
        run: |
          make build
          chmod +x ./autotag/autotag

      - name: Autotag Merge Commit
        # TODO: replace this with GitHub Action after #41
        run: |
          ./autotag/autotag

          echo "tags:" && git tag -l

      - name: Install rpm
        run: |
          sudo apt-get -qqy update && sudo apt-get -qqy install rpm

      # setup qemu and buildx for cross-builds (arm64)
      - name: Set up QEMU (for arm64 builds)
        uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3
        with:
          cache-binary: false

      # finally run goreleaser to build and publish all artifacts:
      - name: Deploy Autotag Release
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6
        with:
          version: latest
          args: release --clean --parallelism=2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
